svg {
    border: black solid 1px;
}

svg path.hovered{
    opacity: 1 !important;
    stroke-width: 4px !important;
}

.hovered text {
    font-size: 20px;
    font-weight: bold;
}

.hovered rect {
    stroke-width: 1px !important;
    stroke: black !important;
}

