/* TODO: All the svg(s) must have width=600px, height=400px, border 1px solid black */
/* TODO Write Here */
svg {
    width: 600px;
    height: 400px;
    border: 1px solid black;
}

/* TODO: All the elements with class="base" must have fill=red, stroke=black and stroke-width=4px */
/* TODO Write Here */
.base {
    fill: red;
    stroke: black;
    stroke-width: 4px;
}

/* TODO: All the elements with class="opacity05" must have opacity=0.5 */
/* TODO Write Here */
.opacity05 {
    opacity: 0.5;
}

/* TODO: All the elements with class="transform20" must have a translate of 20px */
/* TODO Write Here */
.transform20 {
    transform: translate(20px, 0px);
}

/* TODO: All the elements with class="fill-none" must have fill-none with priority (!important) */
/* TODO Write Here */
.fill-none {
    fill: none !important;
}

/* TODO: All the elements with class="stroke-dasharray-10" must have stroke-dasharray- with priority (!important) */
/* TODO Write Here */
.stroke-dasharray-10 {
    stroke-dasharray: 10 !important;
}